body {
  margin: 0;
  font-family: 'Comfortaa', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  width: 150px;
  height: 300px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.w3-card-4{
  margin: 50px auto;
  border-radius: 8px;
}
.card-p{
  padding-top: 10px;
}
h1{
  text-align: center;
}
.nav-justified{
  margin-bottom: 5px;
}
.clearfix{
  margin: 20px;
}
.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
  flex-basis: 100%;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.section-header h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

.section-padding {
  padding: 2rem 2rem 4rem;
}

.teams img {
  border-radius: 50%;
}